<h1>All users</h1>
<% @users.each do |user|  %>
  <p><%= render user %>
  <%= link_to "About user", controller: "users", action: "show", id: user %></p>
<% end  %>
<div><%= link_to "Main page", root_path %></div>

